ul {
  list-style-type: none;
}

.project-node {
    margin: 10px;
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.project-label {
  min-width: 100px;
  padding-left: 3px;
}

div.project-selector-list {
  max-height: 200px;
  overflow-y: scroll;
}