ul {
  list-style-type: none;
}

.tree-node {
    margin: 10px;
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}
