<mbe-top-bar></mbe-top-bar>
<nav class="navbar navbar-default" role="navigation">
    <div id="base-busy-overlay" [ngClass]="{'hide-overlay': !isBusy, 'show-overlay': isBusy}"></div>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Home</a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/fill-bom">Fill BoM</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div>
    <input type="text" placeholder="commodity code" [(ngModel)]="commodityTemplate" />
    <input type="text" placeholder="tag" [(ngModel)]="tagTemplate" />
</div>
<div>
    {{commodityTemplate}}
    <br/>
    {{tagTemplate}}
</div>
<div>
    <table class="table-bordered">
        <thead>
          <tr style="font-weight: bold">
            <td>Commodity Code - Tag</td>
            <td>REF_SPEC</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let refspec of refspecs; index as idx" [id]="'CCROW' + idx.toString()">
            <td onclick="window.scrollBy(0, 10);">{{refspec.displayCommodity}}</td>
            <td><input type="text" class="form-control" value="refspec.refSpec"/></td>
            <td><a class="btn btn-xs btn-success" (click)="selectMaterial(material.id, idx)"><span class="glyphicon glyphicon-check"></span></a></td>
          </tr>
        </tbody>
      </table>
      

</div>
