<mbe-top-bar></mbe-top-bar>
<div id="base-busy-overlay" [ngClass]="{'hide-overlay': !isBusy, 'show-overlay': isBusy}"></div>
<nav class="navbar navbar-default" role="navigation">
    <div id="base-busy-overlay" [ngClass]="{'hide-overlay': !isBusy, 'show-overlay': isBusy}"></div>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Home</a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/fill-bom">Fill BoM</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="margined">
    <input type="text" placeholder="commodity code" [(ngModel)]="commodityTemplate" /><a  class="btn btn-xs btn-success btnmargined" (click)="findCommodity()"><span class="glyphicon glyphicon-filter"></span></a>
    <input type="text" placeholder="tag" [(ngModel)]="tagTemplate" /><a  class="btn btn-xs btn-success btnmargined" (click)="findTag()"><span class="glyphicon glyphicon-filter"></span></a>
    <label>Get all</label><a  class="btn btn-xs btn-success btnmargined" (click)="findAll()"><span class="glyphicon glyphicon-ok"></span></a>
</div>
<div>
    <table class="table-bordered tablemargined">
        <thead>
          <tr>
            <td class="tableheader">Commodity Code - Tag</td>
            <td class="tableheader">REF_SPEC</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let refspec of refspecs; index as idx" [id]="'CCROW' + idx.toString()">
            <td onclick="window.scrollBy(0, 10);">{{refspec.displayCommodity}}</td>
            <td><input type="text" class="form-control" [(ngModel)]="refspec.refSpec" [disabled]="!refspec.dirty"/></td>
            <td>
                <a *ngIf="!refspec.dirty" class="btn btn-xs btn-success" (click)="setDirty(idx)"><span class="glyphicon glyphicon-edit"></span></a>
                <a *ngIf="refspec.dirty" class="btn btn-xs btn-primary" (click)="saveDirty(idx)"><span class="glyphicon glyphicon-check"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
      <mbe-pager [totalItems]="totItems" (onPageChanged)="pageChanged($event)"></mbe-pager>

</div>
