<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <add value="Index.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<remove statusCode="500" />
            <error statusCode="404" path="/Oratrios/index.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/Oratrios/index.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
