.nav-margined {
    margin: 7px 0 0 7px;
}

.vert-scroll {
    height: 100%;
    overflow-y: scroll;
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}

#base-busy-overlay
{
  position: fixed;
  width: 100%;
  height: 300%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  background-image: url(../../assets/images/loader00.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 40%; 
  z-index: 1051; 
  cursor: pointer;
}

div.hide-overlay
{
  display: none;
}

div.show-overlay
{
  display: block
}