<mbe-top-bar></mbe-top-bar>
<nav class="navbar navbar-default" role="navigation">
  <div id="base-busy-overlay" [ngClass]="{'hide-overlay': !isBusy, 'show-overlay': isBusy}"></div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Home</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Settings <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            <li><a><input type="checkbox" [(ngModel)]="uiStatusService.treeToolbarVisible"> Manage node tree </a></li>
            <li><a routerLink="/set-refspec">Change RefSpec</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Export <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            <li><a (click)='exportOmiFile()'>Load BOM to SPMat</a></li>
            <li class="divider"></li>
            <li><a (click)='exportExcelTree()'>Export tree to Excel</a></li>
            <li><a (click)='exportExcelPositions()'>Export positions to Excel</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row no-margin">
  <div class="col-sm-5 vert-scroll" id="main-fill-bom-col-1">
    <mbe-tree-toolbar *ngIf="uiStatusService.treeToolbarVisible"
     [selectedNode]="selectedNode"
     (pasting)="onPasteNode($event)"></mbe-tree-toolbar>
    <mbe-tree-viewx [message]="outMessage">Loading Tree ...</mbe-tree-viewx>
  </div>
  <div class="col-sm-7">
    <div>
      <mbe-positions-list></mbe-positions-list>
    </div>
  </div>
</div>
<div>
  <mbe-addposition></mbe-addposition>
</div>
<mbe-modal id="fill-bom-modal" [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="storeNode()"
  #navigateModal>
  <mbe-modal-header [showClose]="true">
    <h4 class="modal-title">Node details</h4>
  </mbe-modal-header>
  <mbe-modal-body>
    <div>
      <label for="nodeType">Node type&nbsp;</label>
      <ng-select *ngIf="!nodeTypeChangeDisabled" name="nodeType" #nodeTypeSelector [allowClear]="false" [options]="nodeTypeOptions"
        (selected)="nodeTypeSelected($event)" [placeholder]="nodeSelectorPlaceholder" class="ng-select">
      </ng-select>
      <div *ngIf="nodeTypeVisible" class="btn-group" dropdown>
        <button id="split-button" type="button" class="btn btn-primary btn-saipem">Node Type</button>
        <button type="button" class="btn btn-primary btn-saipem dropdown-toggle-split" dropdownToggle>
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
          <li *ngFor="let nodeType of nodeTypes" role="menuitem"><a class="dropdown-item" (click)="nodeTypeSelected2(nodeType)">{{nodeType.code + " - " + nodeType.shortDescription}}</a></li>
        </ul>
      </div>
      <label class="form-control">{{changedNode.type}}</label>
    </div>
    <p>
      <label for="nodeName">Node name&nbsp;</label>
      <br/>
      <input *ngIf="!nodeNameDisabled && !nameIsPullDown" class="form-control" name="nodeName" id="nodeName" [(ngModel)]="changedNode.name"
        #nodeName />
      <ng-select *ngIf="!nodeNameDisabled && nameIsPullDown" name="nodeName" #nodeNameSelector [allowClear]="false" [options]="nodeNameOptions"
        (selected)="nodeNameSelected($event)" placeholder="Select / Change node name" class="ng-select">
      </ng-select>

      <span *ngIf="nodeNameDisabled" class="form-control" name="nodeName" id="nodeName">{{changedNode.name}}</span>
    </p>
    <p *ngIf="conflictDetected">
      <label class="form-control">{{warningMessage}}</label>
      <br/>
      <button *ngIf="canConfirmConflict" type="button" class="btn btn-primary btn-saipem" (click)="storeNodeConfirm()">Confirm</button>
    </p>
  </mbe-modal-body>
  <mbe-modal-footer>
    <button type="button" class="btn btn-primary btn-saipem" data-dismiss="modal" (click)="navigateModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary btn-saipem" mbeAutofocus (click)="tryStoreNode()">{{confirmButtonText}}</button>
  </mbe-modal-footer>
</mbe-modal>