<mbe-top-bar></mbe-top-bar>
<div class="vertical-center-parent">
    <div class="container container-margined vertical-center-child">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading text-center" style="background-color: #22505F; color: white; padding: 16px;">
                        <h3 class="panel-title" style="font-size: 20px;">{{login}}</h3>
                    </div>
                    <div class="panel-body" style="padding: 55px; padding-top: 45px;">
                        <form role="form">
                            <fieldset *ngIf="loaded">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#platform">{{uiStatuService.platformAuthenticatedUserName}}</a></li>
                                    <li><a data-toggle="tab" href="#other">Other User</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="platform" class="tab-pane fade in active">
                                        <div class="form-group" style="margin-bottom: 30px;">
                                            <input class="form-control" disabled="disabled" [value]="uiStatuService.platformAuthenticatedUserName" />
                                        </div>
                                        <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
                                            <div class="col-xs-6 col-xs-offset-3 col-centered">
                                                <button (click)="SignInPlatform()" type="button" class="btn btn-info btn-saipem btn-padded" [disabled]="loading">
                                                {{signIn}}</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="other" class="tab-pane fade">
                                        <div class="form-group" style="margin-bottom: 30px;">
                                            <input class="form-control" placeholder={{usernameLabel}} name="email" autofocus [(ngModel)]="username" [disabled]="loading">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 30px;">
                                            <input class="form-control" placeholder={{password}} name="password" type="password" [(ngModel)]="userPassword" value=""
                                                [disabled]="loading">
                                        </div>
                                        <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
                                            <div class="col-xs-6 col-xs-offset-3 col-centered">
                                                <button (click)="SignIn()" type="button" class="btn btn-info btn-saipem btn-padded" [disabled]="loading">
                                                {{signIn}}</button>
                                            </div>
                                        </div>

                                    </div>
                                    <label class="err-label-base">{{errorMessage}}</label>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>