<nav class="navbar navbar-default navbar-static-top navbarNoMargin" role="navigation">

    <!--bottone del menu quando collassa-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" style="padding: 0px;">
            <div class="row">
                <div class="col-xs-12">
                    <img src="assets/images/logoSaipem.jpg" class="logo" alt="BoM-ELE">
                    <label class="appTitleBig saipemOrange">
                    BoM-ELE
                </label>
                    <label class="appTitleSmall saipemGreen">
                    Manual BoM Electrical
                </label>
                </div>
            </div>
        </a>
    </div>
    <div class="pull-left centerTextBar">
        <div>
            <label class="welcome saipemGreen" *ngIf="!!uiStatusService.projectCode">Project:&nbsp;{{uiStatusService.projectCode}}</label>
            <label class="welcome saipemGreen" *ngIf="!!uiStatusService.disciplineCode">&nbsp;Discipline:&nbsp;{{uiStatusService.disciplineCode}}</label>
        </div>
        <div class="smaller">
            <label class="welcome saipemGreen smaller" *ngIf="!!uiStatusService.projectDescription">{{uiStatusService.projectDescription}}</label>
        </div>       
    </div>
    <!--menu top pagina lato destro-->
    <div class="pull-right textBar">
        <label class="welcome saipemGreen">Welcome {{uiStatusService.userCode}}</label>
    </div>
</nav>